
dosimetry/Radiotherapy/example1/output/*mhd
dosimetry/Radiotherapy/example1/output/*raw
dosimetry/Radiotherapy/example1/output/*txt

dosimetry/Radiotherapy/example2/data/*dmap.*
dosimetry/Radiotherapy/example2/data/*labeled*

dosimetry/Radiotherapy/example2/output/*mhd
dosimetry/Radiotherapy/example2/output/*raw
/dosimetry/Radiotherapy/example1/mac/b.mac
/dosimetry/Radiotherapy/example2/data/patient-HU2mat.txt
/dosimetry/Radiotherapy/example2/data/patient-HUmaterials.db
/dosimetry/Radiotherapy/example2/output/stat-photon-RV2.txt

imaging/SPECT_FFD/output/*.hdr
imaging/SPECT_FFD/output/*.raw
imaging/SPECT_FFD/output/*.mhd
imaging/SPECT_FFD/output/*.sin
/imaging/SPECT_FFD/output/stat_ffd_arf_spect.txt
/imaging/SPECT_FFD/output/stat_montecarlo_spect.txt
/imaging/SPECT_FFD/save/

/imaging/SPECT_FFD/x.log
/imaging/nn-arf/mac/main_analog.mac_100.mac
/imaging/nn-arf/mac/main_analog.mac_100_visu.mac
/imaging/nn-arf/mac/main_arf.mac_100_visu.mac
/imaging/nn-arf/output/labels.mhd
/imaging/nn-arf/output/labels.raw
/imaging/nn-arf/output/projection.hdr
/imaging/nn-arf/output/projection.mhd
/imaging/nn-arf/output/projection.sin
/imaging/nn-arf/output/stats.txt
/imaging/nn-arf/output/test.dat
/imaging/nn-arf/output/test.dat.root
/imaging/nn-arf/output/train.dat
/imaging/nn-arf/output/train.dat.root

*~
gmon.out
/imaging/fastY90/output/*txt
/imaging/fastY90/output/*root


*.DS_Store

/imaging/garf/g
/imaging/garf/pth_v1
/imaging/garf/pth/*pth
/imaging/garf/pth/*pt
/imaging/garf/pth/*json
/imaging/garf/to_trash
/imaging/garf/output/data
/imaging/garf/output/mac
/imaging/garf/output/output*
/imaging/garf/mac/save
/imaging/garf/mac_old
/imaging/garf/garf_plot_training_dataset_goomba

